.header {
    width: 100vw;
}

.headerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
    margin: 0 auto;
    position: relative;
}

.logo p {
    letter-spacing: 1px;
    font-size: 29px;
    font-weight: 500;
    font-style: italic;

}

.headerButtonBox {
    /*position: relative;*/
    z-index: 5;
}

.headerButton {
    background-color: #cffcff;
    position: fixed;
    top: 14px;
    right: 35px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;
    z-index: 40;
}

.menuBar {
    font-size: 25px;
    transition: all 1s ease;
}

.times {
    font-size: 25px;
}

.background {
    overflow-x: hidden !important;
    height: 30px;
    width: 30px;
    position: fixed;
    top: 20px;
    right: 35px;
    background: black;
    border-radius: 50%;
    z-index: -1;
    transition: all .8s cubic-bezier(0.86, 0, 0.07, 1);
    /*transform: translate(15%, -110%);*/
    transform: translate(-4px, 10px);
}

.backgroundOpen {
    transform: scale(100);
}

.navOpen {
    height: 100vh !important;
}

.mobileNavigation {
    list-style: none;
    width: 100%;
    z-index: 100;
    display: flex;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    position: fixed;
    top: 20%;
    transform: translateX(-100%);
    transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.mobileNavigationOpen {
    transform: translateX(0) !important;
}

.mobileNavigationLinks > a {
    color: #fff !important;
    font-size: 20px;
}

.navOpen {

}


@media screen and (min-width: 768px) {
    .header {
        display: none;
    }
}